

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.box {
  flex: 1;
  border: 2px solid black;
  padding: 15px;
  height: 150px;
  background-color: brown;
}


.paragraph{
  border: 2px solid rgb(0, 0, 0);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: blue;
}


.button-container {
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
